html{
  height: 100%;
  width: 100%;
}
body {
  background-color: #581908;
}
#main-container {
  width: calc(100% - 100px);
  max-width: 900px;
  height: 500px;
  background-color: white;
  margin: 50px 50px 0 50px;
  border: 1px outset #aaaaaa;
}
#main-logo-text{
  width: 100%;
}