html{

  height: 100%;
  width: 100%;
}

.main-container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  padding: 0 10px 0 10px;
}
.header-image-box {
  width: 60%;
}
#main-logo-text {
  width: 100%;
}

#main-image {
  width: 100%;
}

.header-links {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-around;
  padding-bottom: 46px;
}

.header-links a {
  display: inline-block;
  color: #973;
  font-size: 24px;
}

.header-links .link-active {
  color: #99f;
}

.header-links a:hover {
  color: #AAA;
}

.section {
  width: fit-content;
  margin: 10px auto 20px auto;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
}

.section h3 {
  font-size: 24px;
}

.hours h4{
  font-weight: bold;
  text-decoration: underline;
}



/* menu */
/* menu */
/* menu */
/* menu */

.menu-body {
  display: flex;
  flex-direction: row;
}
.menu-column {
  padding: 30px;
  width: 50%;
}
.menu-section {
  margin-bottom: 30px;
}

.menu-section h2 {
  color: red;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.menu-item-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.menu-section h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
}

.menu-section p {
  margin-bottom: 8px;
  font-size: 16px;
}

.price-cents {
  font-size: 10px;
  position: relative;
  bottom: 9px;
}

.soup-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


@media screen and (max-width: 820px) {
  .header {
    flex-direction: column;
  }
  .header-image-box {
    width: 80%;
    margin: auto;
  }
  .header-links {
    width: 80%;
    max-width: 460px;
    margin: auto;
    padding-bottom: 10px;
  }
}